@model EaseLogMeIn.Models.ChangePassword
@{
	ViewBag.Title = "ChangePassword";
}
<br />
<div class="clear10"></div>
<div class="login">
	<form method="post" action="/Account/ChangePassword">
		<input type="hidden" name="UniqueId" value="@ViewBag.UniqueId" />
		@Html.AntiForgeryToken()
		<fieldset>
			<legend>Change Password</legend>
			<br />
			<div class="row text-danger">
				@if (ViewBag.Error != null)
				{
					<div class="col-md-10">
						<label>  @Html.Raw(ViewBag.Error) </label>
					</div>
				}
			</div>
			<div class="alert-danger">
				@Html.ValidationSummary()
			</div>
			<div class="row">
				<div class="col-md-10">
					<label>Old Password</label>
					<input type="password" name="OldPassword" autocomplete="off" id="OldPassword" class="form-control"
						   placeholder="Enter Old Password" />
					<span class="text-danger"> </span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10">
					<label>New Password</label>
					<input type="password" name="NewPassword" autocomplete="off" id="NewPassword" class="form-control"
						   placeholder="Enter New Password" />
					<span class="text-danger"> </span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10">
					<label>Confirm Password</label>
					<input type="password" name="ConfirmPassword" autocomplete="off" id="ConfirmPassword" class="form-control"
						   placeholder="Enter Confirm Password" />
					<span class="text-danger"> </span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 mt-2">
					<input type="submit" name="Submit" autocomplete="off" id="Submit" class="btn btn-success" />
					<a href="/" class="btn btn-info ml-2">Cancel</a>
				</div>
			</div>
		</fieldset>
	</form>
</div>
@if (ViewBag.Result != null)
{
	int result = ViewBag.Result;
	<script>
		if (@result === 0) {
			DispalyPop(false, 'Old password and new password not matched');
		}
		else {
			DispalyPop(true, 'Password changed successfully');
			setTimeout(function () {
				window.location.href = "/Account/Login";
			}, 1000);
		}
	</script>
}
<script	src="~/Scripts/Custom/changePasword.js"></script>